<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Client</th>
    <th scope="col">URL</th>
    <th scope="col">Status</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let site of sites; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      {{site.name}}
    </td>
    <td> <a href="{{site.clientUrl}}" target="_blank"> {{ site.clientUrl  }}</a></td>
    <td><span class="badge" [ngClass]="{
      'badge-success':site.status === 200,
      'badge-danger':site.status !== 200
    }">
    {{ site.status === 200 ? 'UP' : 'Down'  }}</span> </td>
  </tr>
  </tbody>
</table>